boto3==1.9.147
botocore==1.12.147
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
gspread==3.1.0
httplib2==0.18.0
idna==2.8
jmespath==0.9.4
oauth2client==4.1.3
psycopg2-binary==2.8.2
pyasn1==0.4.5
pyasn1-modules==0.2.5
python-dateutil==2.8.0
requests==2.21.0
rsa==4.7
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.3
