<script>
    var RAN = false
    function downloadzip() {
        if(!RAN) {
            RAN = true;

            var a = document.getElementById("attachments");
            var b = new Blob([new Uint8Array(JSON.parse(a.value))], {type: "application/zip"});
            var link = document.getElementById('attacher');
            link.href = window.URL.createObjectURL(b);
            link.download = "attachments.zip";
        }
    }

</script>

<textarea id="{{ widget.name }}" name="{{ widget.name }}" style="display:none">
{% if widget.value %}{{ widget.value }}{% endif %}
</textarea>

{% if widget.value %}<a id="attacher" onclick="downloadzip()">Download Attachments</a>{% endif %}
    