/*
global device breakpoints to be used in sass and javascript
*/
$breakpoint-desktop: 1100px;
$breakpoint-tablet: 800px;
$breakpoint-phone: 500px;

// :export directive enables sass variables to be used as javascript variables
:export {
  desktop: $breakpoint-desktop;
  tablet: $breakpoint-tablet;
  phone: $breakpoint-phone;
}
