/*
styles for component: Catalog
*/

.catalog-component {

  .catalog {
    padding-top: 100px;
    margin-bottom: 375px;

    h1 {
      color: #68EFE8;
      text-align: center;
    }

    h2 {
      color: #68EFE8;
      text-align: center;
    }

    .catalog-list {
      padding: 2% 10% 2% 10%;
      margin-bottom: 500px;
      @include mdc-image-list-standard-columns(6);

      @media (min-width: mdc-layout-grid-breakpoint-min(tablet)) and (max-width: mdc-layout-grid-breakpoint-min(desktop)) {
        padding: 20px 50px 20px 50px;
        margin-bottom: 600px;
        @include mdc-image-list-standard-columns(4);
      }

      @media (max-width: mdc-layout-grid-breakpoint-min(tablet)) {
        padding: 0px 20px 10px 20px;
        margin-bottom: 750px;
        @include mdc-image-list-standard-columns(2);
      }
    }

  }

}

.catalog-component__loading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 100%;
  background-color: #121515;

  @media (max-width: mdc-layout-grid-breakpoint-min(desktop)) {
    overflow: hidden;
  }

  .holodeck-loading-image {
    width: 100%;
    height: 100%;

    @media (max-width: mdc-layout-grid-breakpoint-min(desktop)) {
      width: auto;
      position: fixed;
      left: -9999px;
      right: -9999px;
      margin:0 auto;
    }
  }
}
