/*
styles for component: CatalogCard
*/

.catalog-card-component {
  // width: calc(100% / 5 - 4.2px);
  width: auto;
  max-width: 350px;
  margin: 2px;

  @media (max-width: mdc-layout-grid-breakpoint-max(tablet)) {
    width: calc(100% / 3 - 4.2px);
  }

  @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
    width: 100%;
  }

  .catalog-card__headline {
    margin: 1em 0 inherit 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: inherit;
    padding-left: 10px;
  }

  .catalog-card__year {
    font-size: 18px;
    color: #767676;
    padding-left: 10px;
    margin-top: 0;
    -webkit-margin-before: 0;
    margin-bottom: auto;
  }

  .catalog-card__agency {
    color: #767676;
    padding-left: 10px;
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  .acquisition-year {
    background: rgba(0, 0, 0, 0.6);
    padding: 0 5px;
    color: lightgray;
    text-align: center;
    position: absolute;
    right: 0;
  }

  &:hover, &:active, &:focus {
    cursor: pointer;

    .mdc-image-list__supporting {
      height: auto;
      max-height: 100%;
      overflow: hidden;

      .mdc-image-list__label {
        padding: 3px 0 3px 0;
        margin-top: 3px;
        line-height: 1.1rem;
        white-space: normal;
      }
    }

    img {
      outline: 3px solid black;
      outline-offset: -2px;
    }

  }

  .mdc-image-list__supporting {
    height: auto;
    width: 100%;
    max-width: 100%;

    .mdc-image-list__label {
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.3rem;
      font-size: 14px;
    }

  }
}
