/*
styles for component: CatalogCard
*/

.catalog-card-component {
  width: calc(100% / 5 - 4.2px);
  margin: 2px;

  @media (max-width: mdc-layout-grid-breakpoint-max(tablet)) {
    width: calc(100% / 3 - 4.2px);
  }

  @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  // .mdc-image-list__image-aspect-container {
  //   height: 10%;
  //   width: 10%;
  // }

  .mdc-image-list__supporting {
    height: 25%;
    text-align: center;

    .mdc-image-list__label {
      text-overflow: initial;
      white-space: normal;
      line-height: 1.3rem;
    }
  }



}
