/*
styles for component: Catalog
*/

.catalog-component {

  .catalog {
    padding-top: 60px;

    h1 {
      color: #68EFE8;
      text-align: center;
    }

    h2 {
      color: #68EFE8;
      text-align: center;
    }

    a {
      color: red;
    }

    ul {
      list-style-type: none;
    }

  }

}

.catalog-component__loading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  @media (max-width: mdc-layout-grid-breakpoint-min(desktop)) {
    overflow: hidden;
  }

  .holodeck-loading-image {
    width: 100%;
    height: 100%;

    @media (max-width: mdc-layout-grid-breakpoint-min(desktop)) {
      width: auto;
      position: fixed;
      left: -9999px;
      right: -9999px;
      margin:0 auto;
    }
  }
}
