/*
styles for component: CatalogCard
*/

.catalog-card-component {
  color: #000000;
  max-width: 300px;
  max-height: 300px;

  .catalog-card__headline {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    padding-left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
  }

  .catalog-card__body {
    color: #767676;
    padding-left: 10px;
    -webkit-margin-before: 0;
  }

  @include mdc-card-outline(lightgray, 1px);
}

.tnris-download {
  // background-color: purple;
}

.tnris-order {
  .catalog-card__footer {
    background-color: #7F8C97;
  }
}

.historical-aerial {
  .catalog-card__footer {
    background-color: #C2E1F4;
  }
}

.outside-entity {
  .catalog-card__footer {
    background-color: #8B6C2A;
  }
}
