/*
styles for component: Catalog
*/

.catalog-component {

  .catalog {
    padding-top: 60px;

    h1 {
      color: #68EFE8;
      text-align: center;
    }

    h2 {
      color: #68EFE8;
      text-align: center;
    }

    a {
      color: red;
    }

    ul {
      list-style-type: none;
    }

  }

}

.catalog-component__loading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  .holodeck-loading-image {
    width: 100%;
    height: 100%;
  }
}
