/*
styles for component: Catalog
*/

@import "@material/layout-grid/mdc-layout-grid";

.catalog-component {

  .catalog {

    h1 {
      color: #68EFE8;
      text-align: center;
    }

    h2 {
      color: #68EFE8;
      text-align: center;
    }

    a {
      color: red;
    }

    ul {
      list-style-type: none;
    }

  }


}
