/*
styles for component: CollectionCard
*/

#collection_dialog {

  .mdc-dialog__surface {
    max-width: none;
  }

  .mdc-dialog__body {
    margin-left: auto;
    margin-right: auto;
  }

}

.collection-dialog__image {
  max-width: 1000px;
}
