/*
styles for component: CollectionSearcher
*/

.search-component:focus-within {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
    rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;

    .search-input {
      background-color: white;
    }
}

.search-component {
  width: 25%;
  left: 48px;
  margin-left: auto;
  margin-right: auto;
  padding-top: .2em;
  padding-bottom: .2em;
  overflow: unset;

  .search-input {
    background-color: #efefef;
    padding: 5px 60px 5px 50px !important;
    border-bottom: 0;
    caret-color: $skin-primary;
  }

  .suggestion-list {
    background-color: white;
    border-top: 1px solid $skin-tertiary;
    box-shadow: inherit;
  }

  .suggestion-list:hover {
    cursor: pointer;
  }

  .clear-button {
    top: calc(50% - 43%);
  }
}
