/*
shared styles for collection base Template components
*/

.tnris-download-template,
.tnris-order-template,
.historical-aerial-template,
.outside-entity-template {
  height: 100%;
  overflow-y: auto;
  background-color: $main-background;

  &:focus {
    outline: none;
  }

  // header element - BEGIN
  header {
    @include mdc-top-app-bar-fill-color($main-background);
    z-index: 3;
    position: relative;

    // collection title, show in left hand section
    .mdc-top-app-bar__title {
      font-size: 1.7rem;
    }

    // header right hand section, tabs and dropdown - BEGIN
    section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end {
      width: auto;

      // desktop tabs
      div.mdc-tab-bar {
        .mdc-tab {
          max-width: 86px;
          margin-left: 15px;
          margin-right: 15px;
          span {
            color: $nest-text-subtle;
          }
        }
        // handle selected tab colors
        .mdc-tab--active {
          .mdc-tab__content {
            color: $nest-text;
          }
          .mdc-tab-indicator__content--underline {
            background-color: $nest-text;
          }
        }
      }

      // mobile dropdown buttons
      div.mdc-menu-surface--anchor {
        .mdc-list {
          @include mdc-menu-surface-fill-color($main-background);
          @include mdc-list-item-primary-text-ink-color($nest-text);

          i {
            margin-right: 6px;
          }
        }
      }

      // mobile: hide tab bar, display dropdown
      @media (max-width: $breakpoint-tablet) {
        .mdc-tab-bar {
          display: none;
        }

        .mdc-menu-surface--anchor {
          display: flex;

          i {
            color: $nest-text-subtle;
          }
        }
      }

      // desktop: display tab bar, hide dropdown
      @media (min-width: $breakpoint-tablet) {
        .mdc-tab-bar {
          display: block;
        }

        .mdc-menu-surface--anchor {
          display: none;
        }
      }
    }
    // header right hand section, tabs and dropdown - END
  }
  // header element - END
}
