/*
shared styles for collection TemplateDetails components
*/

.tnris-download-template-details,
.tnris-order-template-details,
.historical-aerial-template-details,
.outside-entity-template-details {
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;

  // main template content container div - BEGIN
  .template-content-div {
    margin-bottom: 15px;
    color: $nest-text;

    // general elements - BEGIN
    a {
      color: $primary-color;
    }

    p {
      padding: 6px;
      margin: 0;
      white-space: pre-line;
    }
    // general elements - END

    // used for description component (fade text) - used by all details templates
    .fade-text {
      position: relative;
      max-height: 300px;
      overflow: hidden;
      transition: max-height 2s ease;

      &.-expanded {
        max-height: 100vh;
      }
    }

    .fade-text:not(.-expanded)::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(rgba($main-background, 0), rgba($main-background, 1));
    }

    .expand {
      width: 100%;
      height: auto;
      margin-top: 20px;
      background-color: $primary-color;
      color: $button-text;
    }

    .wiki-attribution {
      font-size: 12px;
      margin-bottom: 10px;
    }
    // end description component (fade-text)

    // source citation component
    .citation-container {

      .citation-style {
        margin-bottom: 10px;
      }

      .copy-citation {
        color: $primary-color;
        border: 0.5px solid $primary-color;
        box-sizing: border-box;
        box-shadow: 0.2px 0.2px 7px $primary-color inset;
        border-radius: 8px;
        margin-bottom: 10px;
        width: 100%;
        padding: 5px 10px 5px 10px;
        outline: none;
      }

      .copy-citation:focus {
        border: 0.5px solid $primary-color;
        box-shadow: 0.2px 0.2px 7px $primary-color;
      }
    }
    // end source citation component

    // nested images (image carousel) component - BEGIN
    // used by all but historicalAerialTemplateDetails
    .carousel {

      .control-next.control-arrow:before {
        border-left: 20px solid #fff;
      }

      .control-prev.control-arrow:before {
        border-right: 20px solid #fff;
      }

      .control-arrow:before {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }

      .control-arrow.control-next {
        margin-right: 0;
      }

      .control-arrow.control-prev {
        margin-left: 0;
      }

      .control-arrow {
        opacity: 0.8;
      }

      p.carousel-status {
        font-size: 16px;
        font-weight: bold;
        text-shadow: 2px 2px #333;
      }
    }

    .carousel-image {
      // force each image to be in 16:9 aspect ratio container
      padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
      overflow: hidden;
      position: relative;
    }

    .carousel-image > img {
      position: absolute;
      display: block;
      width: 100%;
      height: auto;
      top: 50%; /* 50% from the top of the container */
      transform: translateY(-50%); /* -50% of the height of the image */
    }
    // nested images (image carousel) component - END

    // nested metadata list component - BEGIN
    .mdc-list {
      padding: 6px;

      .mdc-list-item {
        min-height: 34px;
        height: initial;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: $nest-text;

        .mdc-list-item__text {
          .mdc-list-item__primary-text::before {
            height: 20px;
          }
          .mdc-list-item__secondary-text::after {
            display: inline-block;
            width: 0;
            height: 20px;
            content: "";
            vertical-align: -7px;
          }
          .metadata-wraptext-list-item {
            white-space: normal;
          }
        }

        strong {
          margin-right: 4px;
        }

        @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
          height: initial;
        }
      }
    }
    // nested metadata list component - END

    // nested supplementals (downloads) list componenet - BEGIN
    .mdc-list.supplemental-downloads {
      .mdc-list-item {
        a {
          i {
            vertical-align: text-bottom;
          }

        }
      }
    }
    // nested supplementals (downloads) list componenet - END

    // nested services (wms services) component - BEGIN
    .services-link-details {
      padding: 6px;

      .styled-input {
        color: $primary-color;
        border: 0.5px solid $primary-color;
        box-sizing: border-box;
        box-shadow: 0.2px 0.2px 7px $primary-color inset;
        border-radius: 8px;
        margin-bottom: 10px;
        width: 100%;
        padding: 12px 16px 14px 16px;
        outline: none;
      }

      .styled-input:focus {
        border: 0.5px solid $primary-color;
        box-shadow: 0.2px 0.2px 7px $primary-color;
      }

      .service-link-details-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        button, a {
          margin-left: 5px;
          margin-right: 5px;
          text-align: center;
          background-color: $primary-color;
          color: $button-text;

          i {
            margin-right: 5px;
          }
        }
      }
    }
    // nested services (wms services) component - END

    // nested oeservices (outside-entity services) component - BEGIN
    // only used by outsideEntityTemplateDetails
    #oe_services {
      margin: 10px;

      @media (min-width: 1500px) {
        ul {
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
        }
      }

      .mdc-button {
        height: auto;
        width: 100%;
        text-transform: none;
        font-weight: normal;
      }

      .collapse {
        padding: 5px 10px 5px 10px;
        width: 100%;
        background-color: #f2f2f2;
      }

      .content {
        display: none;
        overflow: hidden;
        transition: 2s ease-out;
      }

      .show-services {
        display: block;
        transition: 2s ease-out;
      }
    }
    // nested oeservices (outside-entity services) component - END

    // nested countycoverage (map) component - BEGIN
    // only used by tnrisOrderTemplateDetails & HistoricalAerialTemplateDetails
    &.county-coverage {
      padding-bottom: 15px;

      .mdc-typography--body2 {
          color: $nest-text;
          padding: 15px;
      }

      #county-coverage-map {
        height: 500px;
        margin: 0 auto;

        .mapboxgl-control-container {
          .mapboxgl-ctrl-top-left {
            button {
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
      }
    }
    // nested countycoverage (map) component - END

    // nested sharebuttons component - BEGIN
    .share-bar {
      width: 100%;
      display: flex;
      justify-content: center;

      .share-button {
        margin: 6px;
        cursor: pointer;
      }

      .share-copy-link {
        background-color: #7E7E7E;
        color: white;
        border-radius: 15px;
        height: 26px;
        width: 26px;
        text-align: center;
        border: none;
        padding-left: 4px;

        i {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
    // nested sharebuttons component - END

    // nested historicalproducts component - BEGIN
    // only used by historicalAerialTemplateDetails
    &.historical-products {
      padding-bottom: 15px;

      .mdc-typography--body2 {
          color: $nest-text;
          padding: 15px;
      }

      .product-table {
        margin: 0 auto;
        display: table;
        padding: 0;

        .product-table-header {
          font-weight: 500;
          color: $button-text;
          background-color: $primary-color;
        }

        li.mdc-list-item {
          padding-left: 0;
          padding-right: 0;
        }

        li.mdc-list-item > div {
          display: table-cell;
          text-align: center;
          padding: 10px;
          // width: 120px;
          border: .5px solid rgba(0, 0, 0, 0.1);

          @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
            width: 64px;
            padding: 0;
            height: 34px;
            line-height: 34px;
            overflow: scroll;
          }
        }

        @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
          font-size: 12px;
        }
      }
    }
    // nested historicalproducts component - END

    // nested ls4links (ls4 index links) component - BEGIN
    // only used by historicalAerialTemplateDetails
    &.ls4-links-container {
      p.mdc-typography--body2 {
        font-size: 16px;
        padding: 10px;
        text-align: center;
      }

      .ls4-scans {
        .mdc-list {
          margin: 0 auto;
          display: table;

          .mdc-list-item {
            border: 1px solid rgba(0, 0, 0, 0.1);

            div {
              display: table-cell;
              padding: 6px;

              @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
                width: 64px;
                padding: 0;
                height: 34px;
                line-height: 34px;
                overflow: scroll;
              }

              a {
                color: $primary-color;
              }
            }
          }

          .mdc-list-item.odd {
            background-color: rgba(0, 0, 0, 0.1);
          }

          @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
            font-size: 12px;
          }
        }
      }

      .ls4-links {
        padding: 6px;

        #ls4-links-index-input,
        #ls4-links-mosaic-input,
        #ls4-links-frames-input {
          color: $primary-color;
          border-bottom-color: rgba(0, 0, 0, 0.12);
          margin-bottom: 10px;
          text-align: center;
        }

        .ls4-links-buttons {
          display: flex;
          justify-content: center;
          align-items: center;

          button, a {
            margin-left: 5px;
            margin-right: 5px;
            text-align: center;
            background-color: $primary-color;
            color: $button-text;

            i {
              margin-right: 5px;
            }
          }
        }

        @media (min-width: mdc-layout-grid-breakpoint-max(tablet)) {
          max-width: 70%;
          margin: 0 auto;
        }
      }
    }
    // nested ls4links (ls4 index links) component - END
  }
  // main template content container div - END
}
