/*
styles for component: CollectionTimeslider
*/

.timeslider-component {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 8px;

  .mdc-typography--body2 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    color: $nest-text;
  }

  .rc-slider {
    .rc-slider-handle {
      border: solid 2px $primary-color;
      background-color: $secondary-color;
      cursor: pointer;

      &:active {
        box-shadow: 0 0 10px $primary-color;
        -webkit-box-shadow: 0 0 10px $primary-color;
        cursor: grabbing;
        cursor: -webkit-grabbing;
      }
    }

    .rc-slider-rail {
      background-color: $skin-tertiary;
    }

    .rc-slider-track {
      background-color: $secondary-color;
    }
  }
}
