/*
styles for component: CollectionTimeslider
*/

.timeslider-component {
  padding-left: 20px;
  padding-right: 20px;

  .mdc-typography--body2 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
