.collection-filter-map-component {

  #collection-filter-map {
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    width:100%;

    canvas {
      width: 100% !important;
    }
  }

  .map-filter-button {
    position: absolute;
    right: 25px;
    bottom: 50px;
  }
}
