/*
styles for component: CollectionFilterMapDialog
*/

#filter_map_dialog {
  z-index: 6;

  .mdc-dialog__surface {
    max-width: 75%;
    height: 80%;
    background-color: $main-background;
  }

  .app-fab--absolute {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: $secondary-color;
  }

  @media(min-width: 1024px) {
    .app-fab--absolute {
      top: 1.5rem;
      right: 1.5rem;
    }
  }

}
