.collection-filter-map-component {

  #collection-filter-map {
    position:absolute;
    top: 221px;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .map-filter-button {
    position: absolute;
    right: 25px;
    bottom: 50px;
    background-color: $secondary-color;
  }
}
