/*
store all component scss files in sass folder and import
them here to have them available to the app
*/

@import 'catalog';
@import 'catalogCard';
@import 'collectionFilter';
@import 'collectionFilterMap';
@import 'collectionFilterMapView';
@import 'collectionSearcher';
@import 'collectionSorter';
@import 'collectionTemplateDetails';
@import 'collectionTemplates';
@import 'collectionTimeslider';
@import 'contactTnrisForm';
@import 'drawer';
@import 'footer';
@import 'header';
@import 'notfound';
@import 'orderCart';
@import 'orderCartView';
@import 'orderTnrisDataForm';
@import 'themeChooser';
@import 'tnrisDownloadTemplateDownload';
@import 'toolDrawer';
