/*
styles for component: CountyCoverage
*/

// only used by tnrisOrderTemplateDetails & HistoricalAerialTemplateDetails
.county-coverage-component {
  height: 80vh;

  #county-coverage-map {
    position: absolute;
    top: 154px;
    bottom: 375px;
    width: 100%;

    @media (min-width: 600px) and (max-width: 1080px) {
      top: 128px;
    }

    @media (max-width: 599px) {
      top: 112px;
    }

    .mapboxgl-canvas {
      height: 100% !important;
    }

    .mapboxgl-control-container {
      .mapboxgl-ctrl-top-left {
        button {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
