/*
styles for component: Footer
*/
//

.footer-component {
  background-color: $footer-dark;
  color: $footer-text;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;

  .link-container {
    margin: 0 auto;
    padding: 0;

    li.link-container-menu-list {
      display: inline-flex;
      padding-right: 5px;
      padding-left: 5px;

      .link-menu-control {
        cursor: pointer;

        i {
          line-height: 50px;
        }
      }

      .mdc-menu {
        @include mdc-menu-width(4);

        .nested-item {
          padding-left: 16px;
          padding-right: 16px;

          &.location-item {
            text-align: left;
          }

          p {
            margin: 0;
          }
        }

        button {
          background-color: $primary-color;
          color: $button-text;
        }
      }

    }

  }

  &.open-drawer {
    width: calc(100% - 255px);
    // transition: width 0.3s;
  }
}
