/*
styles for component: Footer
*/
//

.footer-component {
  background-color: $skin-primary;
  color: $skin-text;
  width: 100%;
  left: 0;
  bottom: 0;

  .open-drawer {
    width: calc(100% - 255px);
    transition: width 0.3s;
  }

  @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
    min-height: 375px;
  }


  .footer-component__legal {
    background-color: $skin-secondary;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    color: $skin-text;

    .legal-links {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 20px;
      padding-right: 20px;

      li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;

        a {
          color: $skin-text;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .mdc-layout-grid {
    // padding-top: 0;
    padding-bottom: 0;
    font-weight: 400;

    @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
      max-width: 1170px;
    }

    .mdc-layout-grid__cell--span-3-desktop {
      padding-left: 15px;
      padding-right: 15px;

      h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 400;

        a {
          font-size: 18px;
        }
      }

      ul {
        list-style: none;
        padding-left: 0;

        li {
          margin-bottom: 5px;

          a {
            color: $skin-text;
          }

          .footer-sub-menu {
            padding-left: 10px;
            border-left: 1px solid $skin-text;
          }
        }
      }

      a {
        text-decoration: none;
        color: $skin-text;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }

      address {
        font-style: normal;
        margin-bottom: 5px;
      }

      .material-icons {
        font-size: 16px;
        font-weight: bold;
        margin-right: 5px;
        position: relative;
        top: 3px;
      }

    }
  }

  .footer-component__copyright {
    font-size: 12px;
    padding-bottom: 25px;
    text-align: center;
    color: $skin-text;

    @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
    }
  }

}
