/*
styles for component: Header
*/

.header-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;

  .header-title {
    background: #1e8dc1;
    color: #d2f1ff;
    font-family: pragmatica-web-condensed,sans-serif;
    font-size: 16px;
    font-weight: 100;
    height: auto;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 4px;

    .header-title__twdb {
      float: right;
      text-decoration: none;
      color: inherit;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .header-nav {
    color: #d2f1ff;
    padding: 7px 7px 7px 7px;

    .logo-container {
      float: left;
      margin-left: 3px;
      margin-right: 3px;
    }

    .buttons-container {
      float: left;
      padding: 0 5px 0 5px;
    }
  }

}
