/*
styles for component: Header
*/

.header-component {
  @include mdc-top-app-bar-ink-color($skin-secondary);
  @include mdc-top-app-bar-icon-ink-color($skin-secondary);
  @include mdc-top-app-bar-fill-color($header-bar);
  border-bottom: solid 1px $skin-secondary;

  .header-title {
    background: $skin-tertiary;
    color: $skin-text;
    font-family: pragmatica-web-condensed,sans-serif;
    font-size: 16px;
    font-weight: 100;
    height: auto;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 4px;
    height: 26px;

    @media (max-width: mdc-layout-grid-breakpoint-min(desktop)) {
      display: none;
    }

    @media only screen and (max-width: 1306px) {
      height: 44px;
    }

    section {
      padding: 0;

      .header-title__twdb {
        text-decoration: none;
        color: inherit;
        font-size: 12px;
        text-align: right;
      }

      .header-title__tnris {
        text-decoration: none;
        text-align: left;
        color: inherit;
      }

    }
  }

  .header-nav {

    .mdc-top-app-bar__action-item {
      margin-left: 3px;
      margin-right: 3px;

      .logo {
        max-height: 100%;
      }

      .shopping-cart-full {
        color: $alt-color;
      }
    }

    .tnris-logo-text {
      font-style: italic;
      font-family: crillee;
      font-weight: 900;
      letter-spacing: -1px;
    }
  }

}
