@import "breakpoints";
/*
styles for component: Header
*/

// removes the shadow from the header on scroll
.mdc-top-app-bar--fixed-scrolled {
  box-shadow: none;
}

.header-component {
  @include mdc-top-app-bar-ink-color($skin-primary);
  @include mdc-top-app-bar-icon-ink-color($skin-primary);
  @include mdc-top-app-bar-fill-color($main-background);
  border-bottom: solid 1px $header-border;

  .open-drawer {
    width: calc(100% - 255px);
    // -webkit-transition: width 2s; /* Safari */
    // transition: width .1s;
  }

  .closed-drawer {
    width: 100%;
    // -webkit-transition: width 2s; /* Safari */
    // transition: width .1s;
  }

  .header-title {
    background-color: $primary-color;
    color: $button-text;
    font-family: pragmatica-web-condensed,sans-serif;
    font-size: 14px;
    font-weight: 100;
    height: auto;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 4px;
    height: 26px;

    section {
      padding: 0;

      .header-title__tnris {
        text-decoration: none;
        text-align: left;
        color: inherit;
        padding-left: 5px;
      }

      .header-title__twdb {
        text-decoration: none;
        text-align: right;
        color: inherit;
        padding-right: 5px;
      }

      .title-size {
        font-size: 14px;

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
          font-size: 12px;
        }
        @media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
          font-size: 10px;
        }
        @media (max-width: $breakpoint-phone) {
          font-size: 14px;
        }
      }
    }
  }

  .header-nav {
    height: 70px;

    .nav-button {
      padding-right: 12px;
    }

    .open-drawer {
      width: calc(100% - 255px);
      -webkit-transition: width 2s; /* Safari */
      transition: width .1s;
    }

    .closed-drawer {
      width: 100%;
      -webkit-transition: width 2s; /* Safari */
      transition: width .1s;
    }

    .mdc-top-app-bar__action-item {
      // margin-left: 3px;
      // margin-right: 3px;

      .logo {
        max-height: 100%;
      }
    }

    .tnris-logo-text {
      font-style: italic;
      font-family: crillee;
      font-weight: 900;
      letter-spacing: -1px;
    }
  }

}
