/*
styles for component: Header
*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;

  .header-title {
    background: #1e8dc1;
    color: #d2f1ff;
    font-family: pragmatica-web-condensed,sans-serif;
    font-size: 16px;
    font-weight: 100;
    height: auto;
    letter-spacing: 3px;
    text-transform: uppercase;

    .header-title__twdb {
      float: right;
      text-decoration: none;
      color: inherit;
      font-size: 12px;
    }
  }

  .header-nav {
    color: #d2f1ff;
  }

}
