/*
styles for component: HistoricalAerialTemplateDetails
*/

.historical-aerial-template-details {
  padding: 84px 20px 20px 20px;
  overflow-x: hidden;
  overflow-y: auto;

  .template-content-div.county-coverage {
    padding-bottom: 15px;

    .mdc-typography--body2 {
        color: $nest-text;
        padding: 15px;
    }

    #county-coverage-map {
      height: 500px;
      margin: 0 auto;

      .mapboxgl-control-container {
        .mapboxgl-ctrl-top-left {
          button {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }

  .template-content-div.historical-products {
    padding-bottom: 15px;

    .mdc-typography--body2 {
        color: $nest-text;
        padding: 15px;
    }

    .product-table {
      margin: 0 auto;
      display: table;
      padding: 0;

      .product-table-header {
        font-weight: 500;
        color: $text-color;
        background-color: $primary-color;
      }

      li.mdc-list-item {
        padding-left: 0;
        padding-right: 0;
      }

      li.mdc-list-item > div {
        display: table-cell;
        text-align: center;
        padding: 10px;
        // width: 120px;
        border: .5px solid rgba(0, 0, 0, 0.1);

        @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
          width: 64px;
          padding: 0;
          height: 34px;
          line-height: 34px;
          overflow: scroll;
        }
      }

      @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
        font-size: 12px;
      }
    }
  }

  .template-content-div.ls4-links-container {
    p.mdc-typography--body2 {
      font-size: 16px;
      padding: 10px;
      text-align: center;
    }

    .ls4-scans {
      .mdc-list {
        margin: 0 auto;
        display: table;

        .mdc-list-item {
          border: 1px solid rgba(0, 0, 0, 0.1);

          div {
            display: table-cell;
            padding: 6px;

            @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
              width: 64px;
              padding: 0;
              height: 34px;
              line-height: 34px;
              overflow: scroll;
            }

            a {
              color: $primary-color;
            }
          }
        }

        .mdc-list-item.odd {
          background-color: rgba(0, 0, 0, 0.1);
        }

        @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
          font-size: 12px;
        }
      }
    }

    .ls4-links {
      padding: 6px;

      #ls4-links-index-input,
      #ls4-links-mosaic-input,
      #ls4-links-frames-input {
        color: $primary-color;
        border-bottom-color: rgba(0, 0, 0, 0.12);
        margin-bottom: 10px;
        text-align: center;
      }

      .ls4-links-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        button, a {
          margin-left: 5px;
          margin-right: 5px;
          text-align: center;
          background-color: $primary-color;
          color: $text-color;

          i {
            margin-right: 5px;
          }
        }
      }

      @media (min-width: mdc-layout-grid-breakpoint-max(tablet)) {
        max-width: 70%;
        margin: 0 auto;
      }
    }
  }

  .template-content-div {
    margin-bottom: 15px;
    background-color: $nest-background;
    color: $nest-text;

    a {
      color: $primary-color;
    }

    p {
      padding: 6px;
      margin: 0;
      white-space: pre-line;
    }

    .mdc-list {
      padding: 6px;

      .mdc-list-item {
        min-height: 34px;
        height: initial;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: $nest-text;

        .mdc-list-item__text {
          .mdc-list-item__primary-text::before {
            height: 20px;
          }
          .mdc-list-item__secondary-text::after {
            display: inline-block;
            width: 0;
            height: 20px;
            content: "";
            vertical-align: -7px;
          }
        }

        // .mdc-list-item__text {
        //   max-width: 50%;
        // }
        //
        // .mdc-list-item__meta {
        //   max-width: 50%;
        // }

        strong {
          margin-right: 4px;
        }

        @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
          height: initial;
        }
      }
    }

    .share-bar {
      width: 100%;
      display: flex;
      justify-content: center;

      .share-button {
        margin: 6px;
        cursor: pointer;
      }

      .share-copy-link {
        background-color: #7E7E7E;
        color: white;
        border-radius: 15px;
        height: 26px;
        width: 26px;
        text-align: center;
        border: none;
        padding-left: 4px;

        i {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }

  }
}
