/*
styles for component: NotFound
*/

.notfound-component {

  .notfound {
    text-align: center;
    padding: 50px;

    .notfound-image {
      padding: 25px;
    }
  }

  .footer-component {
    position: initial;
  }


}
