/*
styles for component: NotFound
*/

.notfound-component {
  width: 100%;

  .open {
    width: calc(100% - 255px);
    transition: width 0.3s;
  }

  .notfound {
    text-align: center;
    padding: 50px;

    .notfound-image {
      padding: 25px;
      width: 100%;
    }
  }

  .footer-component {
    position: initial;
  }


}
