/*
styles for component: OrderCartDialog
*/

#order_cart_dialog {

  .mdc-dialog__surface {
    max-width: 100%;
    width: 90%;
    height: 90%;
    background-color: $main-background;

    @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
      width: 100%;
      height: 100%;
    }
  }

  .app-fab--absolute {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: $secondary-color;
  }

  @media(min-width: 1024px) {
    .app-fab--absolute {
      top: 1.5rem;
      right: 1.5rem;
    }
  }


}
