/*
styles for component: OutsideEntityTemplate
*/

.outside-entity-template {
  header {
    @include mdc-top-app-bar-ink-color($text-color);
    @include mdc-top-app-bar-icon-ink-color($text-color);
    @include mdc-top-app-bar-fill-color($primary-color);
  }
  
  height: 100%;
  overflow-y: auto;

  &:focus {
    outline: none;
  }

}
