/*
styles for component: OutsideEntityTemplateDetails
*/

.outside-entity-template-details {
  padding: 84px 20px 20px 20px;
  overflow-x: hidden;
  overflow-y: auto;

  .template-content-div {
    margin-bottom: 15px;
    background-color: $nest-background;
    color: $nest-text;

    .carousel {

      .control-next.control-arrow:before {
        border-left: 20px solid #fff;
      }

      .control-prev.control-arrow:before {
        border-right: 20px solid #fff;
      }

      .control-arrow:before {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }

      .control-arrow.control-next {
        margin-right: 0;
      }

      .control-arrow.control-prev {
        margin-left: 0;
      }

      .control-arrow {
        opacity: 0.8;
      }

      p.carousel-status {
        font-size: 16px;
        font-weight: bold;
        text-shadow: 2px 2px #333;
      }
    }

    #oe_services {
      padding-bottom: 10px;

      @media (min-width: 1000px) {
        ul {
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
        }
      }
      @media (min-width: 1500px) {
        ul {
          columns: 3;
          -webkit-columns: 3;
          -moz-columns: 3;
        }
      }
    }

    a {
      color: $primary-color;
    }

    p {
      padding: 6px;
      margin: 0;
      white-space: pre-line;
    }

    .mdc-list {
      padding: 6px;

      .mdc-list-item {
        min-height: 34px;
        height: initial;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: $nest-text;

        .mdc-list-item__text {
          .mdc-list-item__primary-text::before {
            height: 20px;
          }
          .mdc-list-item__secondary-text::after {
            display: inline-block;
            width: 0;
            height: 20px;
            content: "";
            vertical-align: -7px;
          }
          .metadata-wraptext-list-item {
            white-space: normal;
          }
        }

        strong {
          margin-right: 4px;
        }
      }
    }

    .share-bar {
      width: 100%;
      display: flex;
      justify-content: center;

      .share-button {
        margin: 6px;
        cursor: pointer;
      }

      .share-copy-link {
        background-color: #7E7E7E;
        color: white;
        border-radius: 15px;
        height: 26px;
        width: 26px;
        text-align: center;
        border: none;
        padding-left: 4px;

        i {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}
