/*
styles for component: Sort
*/

@import "@material/button/mdc-button";

@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";



.sort-component {
  float: left;
  margin-left: 3px;
  margin-right: 3px;

}
