/*
Color Theme Classes
*/

/*
--------------------------------
default theme colors and imported use of them
default color set by Catalog component from
colorThemeReducer in the redux store

CURRENTLY: light
--------------------------------
*/

// need to set the primary globally so the theme chooser has access to them all
// these won't be overwritten
$default-theme-primary: white;
$dark-theme-primary: #282828;

// set the rest of them
// these will all be overwritten
$primary-color: #1E8DC1;
$secondary-color: #BADBFF;
$button-text: white;

$main-background: white;
$nest-text: #444;
$nest-text-subtle: gray;

$search-background: #efefef;

$error-text: #af0000;
$success-text: #00870b;

$skin-primary: $nest-text;
$skin-tertiary: lightgray;
$skin-text: #f5f5f5;

$footer-light: #444;
$footer-dark: #222;

body {
  background-color: $main-background;
}

@import 'componentSassImporter';


/*
--------------------------------
optional theme colors and imported use of them
--------------------------------
When adding new themes you will also need to update:
  1. Header.jsx component logo Switch function to choose proper logo color
  2. _themeChooser.scss sass file to set the themeChooser "background-color" for the new theme's class name
  3. ThemeChooser.jsx component to add the new theme to the constructor themeOptions array
  4. create new primary global sass variable to use in Step #3 (the next step). this is done above ~line 17
  5. create the new class below with the name "<theme name to be used by the store>-app-theme"
  6. update export (bottom of this file) to include fill and text colors for maps. keys should be
     <theme name>Fill and <theme name>Text, respectively with the theme name matching the one used in
     Step 5. fill is typically same as secondary-color while text is same as text-color
*/

.dark-app-theme {
  $primary-color: $dark-theme-primary;
  $secondary-color: #999999;
  $button-text: lightgray;

  $main-background: dimgray;
  $nest-text: black;
  $nest-text-subtle: lightgray;

  $search-background: $secondary-color;

  $error-text: #af0000;
  $success-text: #00870b;

  $skin-primary: lightgray;
  $skin-tertiary: gray;
  $skin-text: #f5f5f5;

  $footer-light: #444;
  $footer-dark: #222;

  body {
    background-color: $main-background;
  }

  @import 'componentSassImporter';
}


// export colors for use by jsx. specifically, tnrisDownloadTemplateDownload map
:export {
  lightFill: #7D7D7D; lightText: white;
  darkFill: #7D7D7D; darkText: white;
        }
