/*
Color Theme Classes
*/

/*
--------------------------------
default theme colors and imported use of them
default color set by Catalog component from
colorThemeReducer in the redux store

CURRENTLY: light
--------------------------------
*/

// need to set the primary globally so the theme chooser has access to them all
// these won't be overwritten
$default-theme-primary: #6200ee;
$green-theme-primary: green;

// set the rest of them
// these will all be overwritten
$primary-color: $default-theme-primary;
$secondary-color: #7E39F1;
$tertiary-color: #E6D9FD;
$text-color: white;
$header-bar: white;
// used for indicators
$alt-color: #b088e8;

//used to color dialog div headers
$template-dialog-header: #272727;
$template-dialog-header-script: #d2f1ff;

$empty-border: #6E7777;
$empty-fill: white;

$error-text: red;
$success-text: green;

$skin-primary: #444;
$skin-secondary: gray;
$skin-tertiary: lightgray;
$skin-text: #f5f5f5;

@import 'componentSassImporter';


/*
--------------------------------
optional theme colors and imported use of them
--------------------------------
When adding new themes you will also need to update:
  1. Header.jsx component logo Switch function to choose proper logo color
  2. create new primary global sass variable to use in Step #3 (the next step). this is done above ~line 17
  3. _themeChooser.scss sass file to set the themeChooser "background-color" for the new theme's class name
  4. ThemeChooser.jsx component to add the themeChooser image/button/div/option to turn the new theme on
  5. create the new class below with the name "<theme name to be used by the store>-app-theme"
  6. update export (bottom of this file) to include fill and text colors for maps. keys should be
     <theme name>Fill and <theme name>Text, respectively with the theme name matching the one used in
     Step 5. fill is typically same as secondary-color while text is same as text-color
*/

.green-app-theme {
  $primary-color: $green-theme-primary;
  $secondary-color: lightgreen;
  $tertiary-color: brown;
  $text-color: blue;
  $header-bar: green;
  // used for indicators
  $alt-color: lightgreen;

  //used to color dialog div headers
  $template-dialog-header: green;
  $template-dialog-header-script: white;

  $empty-border: #6E7777;
  $empty-fill: white;

  $error-text: red;
  $success-text: green;

  $skin-primary: green;
  $skin-secondary: lightgreen;
  $skin-tertiary: aqua ;
  $skin-text: red;

  @import 'componentSassImporter';

}

// export colors for use by jsx. specifically, tnrisDownloadTemplateDownload map
:export {
  lightFill: #7E39F1; lightText: white;
  greenFill: lightgreen; greenText: blue;
        }
