/*
Color Theme Variables
*/

$primary-color: #6200ee;
$secondary-color: #7E39F1;
$tertiary-color: #E6D9FD;
$text-color: white;
// used for indicators
$alt-color: #b088e8;

//used to color dialog div headers
$template-dialog-header: #272727;
$template-dialog-header-script: #d2f1ff;

$empty-border: #6E7777;
$empty-fill: white;

$error-text: red;
$success-text: green;

$skin-primary: #444;
$skin-secondary: gray;
$skin-tertiary: lightgray;
$skin-text: #f5f5f5;
