/*
Color Theme Classes
*/

/*
--------------------------------
default theme colors and imported use of them
default color set by Catalog component from
colorThemeReducer in the redux store

CURRENTLY: light
--------------------------------
*/

// need to set the primary globally so the theme chooser has access to them all
// these won't be overwritten
$default-theme-primary: white;
$dark-theme-primary: #282828;
$earth-theme-primary: green;
$fuego-theme-primary: #60389F;
$vaporwave-theme-primary: #EFBAF4;
$america-theme-primary: red;
$hulk-theme-primary: #10B100;
$relax-theme-primary: #809FC0;

// set the rest of them
// these will all be overwritten
$primary-color: #6200ee; // goog purple
// $primary-color: white;
$secondary-color: #b088e8; // goog purple
$text-color: white;
$header-bar: white;
// used for indicators
$alt-color: #b088e8;

$main-background: white;
$nest-background: white;
$nest-text: #444;
$nest-text-subtle: gray;

//used to color dialog div headers
// $template-dialog-header: #272727;
// $template-dialog-header-script: #d2f1ff;

// $slider-fill: #dbc8f4;
$slider-fill: #BADBFF;

$empty-border: #6E7777;
$empty-fill: white;

$error-text: red;
$success-text: green;

$skin-primary: #444;
// $skin-secondary: gray;
$skin-secondary: #1E8DC1;
$skin-tertiary: lightgray;
$skin-text: #f5f5f5;

@import 'componentSassImporter';


/*
--------------------------------
optional theme colors and imported use of them
--------------------------------
When adding new themes you will also need to update:
  1. Header.jsx component logo Switch function to choose proper logo color
  2. _themeChooser.scss sass file to set the themeChooser "background-color" for the new theme's class name
  3. ThemeChooser.jsx component to add the new theme to the constructor themeOptions array
  4. create new primary global sass variable to use in Step #3 (the next step). this is done above ~line 17
  5. create the new class below with the name "<theme name to be used by the store>-app-theme"
  6. update export (bottom of this file) to include fill and text colors for maps. keys should be
     <theme name>Fill and <theme name>Text, respectively with the theme name matching the one used in
     Step 5. fill is typically same as secondary-color while text is same as text-color
*/

.dark-app-theme {
  $primary-color: $dark-theme-primary;
  $secondary-color: #6E7777;
  $text-color: lightgray;
  $header-bar: $primary-color;
  // used for indicators
  $alt-color: white;

  $main-background: dimgray;
  $nest-background: silver;
  $nest-text: black;
  $nest-text-subtle: lightgray;
  background-color: $main-background;

  //used to color dialog div headers
  $template-dialog-header: $header-bar;
  $template-dialog-header-script: $text-color;

  $slider-fill: $secondary-color;

  $empty-border: #6E7777;
  $empty-fill: $main-background;

  $error-text: red;
  $success-text: green;

  $skin-primary: $primary-color;
  $skin-secondary: $secondary-color;
  $skin-tertiary: gray;
  $skin-text: $text-color;

  @import 'componentSassImporter';
}

.earth-app-theme {
  $primary-color: $earth-theme-primary;
  $secondary-color: lightgreen;
  $text-color: white;
  $header-bar: $primary-color;
  // used for indicators
  $alt-color: bisque;

  $main-background: burlywood;
  $nest-background: bisque;
  $nest-text: saddlebrown;
  $nest-text-subtle: chocolate;
  background-color: $main-background;

  //used to color dialog div headers
  $template-dialog-header: green;
  $template-dialog-header-script: white;

  $slider-fill: $secondary-color;

  $empty-border: #6E7777;
  $empty-fill: $main-background;

  $error-text: red;
  $success-text: green;

  $skin-primary: green;
  $skin-secondary: lightgreen;
  $skin-tertiary: #d3f8d3;
  $skin-text: black;

  @import 'componentSassImporter';
}

.fuego-app-theme {

  $primary-color: $fuego-theme-primary;
  $secondary-color: #D588FF;
  $text-color: #FEEF00;
  $header-bar: $primary-color;
  // used for indicators
  $alt-color: #FEEF00;

  $main-background: #D487FF;
  $nest-background: #e4c0fc;
  $nest-text: #8D2522;
  $nest-text-subtle: white;
  background-color: $main-background;

  //used to color dialog div headers
  $template-dialog-header: $primary-color;
  $template-dialog-header-script: #FEEF00;

  $slider-fill: white;

  $empty-border: #6E7777;
  $empty-fill: $main-background;

  $error-text: red;
  $success-text: green;

  $skin-primary: $primary-color;
  $skin-secondary: #C1D756;
  $skin-tertiary: #C1D756;
  $skin-text: white;

  @import 'componentSassImporter';
}

.vaporwave-app-theme {

  $primary-color: $vaporwave-theme-primary;
  $secondary-color: #C0F2F9;
  $text-color: #7D57C3;
  $header-bar: $primary-color;
  // used for indicators
  $alt-color: #7D57C3;

  $main-background: #C0F2F9;
  $nest-background: white;
  $nest-text: #7D57C3;
  $nest-text-subtle: #EFA816;
  background-color: $main-background;

  //used to color dialog div headers
  $template-dialog-header: #F141FF;
  $template-dialog-header-script: white;

  $slider-fill: white;

  $empty-border: #6E7777;
  $empty-fill: $main-background;

  $error-text: red;
  $success-text: green;

  $skin-primary: $primary-color;
  $skin-secondary: #F141FF;
  $skin-tertiary: #7D57C3;
  $skin-text: white;

  @import 'componentSassImporter';
}

.america-app-theme {

  $primary-color: $america-theme-primary;
  $secondary-color: blue;
  $text-color: white;
  $header-bar: $primary-color;
  // used for indicators
  $alt-color: blue;

  $main-background: white;
  $nest-background: whitesmoke;
  $nest-text: lightred;
  $nest-text-subtle: #444;
  background-color: $main-background;

  //used to color dialog div headers
  $template-dialog-header: blue;
  $template-dialog-header-script: white;

  $slider-fill: lightgray;

  $empty-border: #6E7777;
  $empty-fill: $main-background;

  $error-text: red;
  $success-text: green;

  $skin-primary: $primary-color;
  $skin-secondary: lightblue;
  $skin-tertiary: blue;
  $skin-text: white;

  @import 'componentSassImporter';
}

.hulk-app-theme {

  $primary-color: $hulk-theme-primary;
  $secondary-color: #0C7F00;
  $text-color: white;
  $header-bar: $primary-color;
  // used for indicators
  $alt-color: white;

  $main-background: #0C7F00;
  $nest-background: #98FF97;
  $nest-text: #053600;
  $nest-text-subtle: black;
  background-color: $main-background;

  //used to color dialog div headers
  $template-dialog-header: #10B100;
  $template-dialog-header-script: white;

  $slider-fill: lightgray;

  $empty-border: #6E7777;
  $empty-fill: $main-background;

  $error-text: red;
  $success-text: green;

  $skin-primary: #10B100;
  $skin-secondary: #053600;
  $skin-tertiary: #053600;
  $skin-text: white;

  @import 'componentSassImporter';
}

.relax-app-theme {

  $primary-color: $relax-theme-primary;
  $secondary-color: #EACA8A;
  $text-color: white;
  $header-bar: $primary-color;
  // used for indicators
  $alt-color: #EACA8A;

  $main-background: #87BFCF;
  $nest-background: #E4E8F0;
  $nest-text: #BD616A;
  $nest-text-subtle: #3D4453;
  background-color: $main-background;

  //used to color dialog div headers
  $template-dialog-header: #EACA8A;
  $template-dialog-header-script: white;

  $slider-fill: #E4E8F0;

  $empty-border: #6E7777;
  $empty-fill: $main-background;

  $error-text: red;
  $success-text: green;

  $skin-primary: #B28DAB;
  $skin-secondary: #E4E8F0;
  $skin-tertiary: #EACA8A;
  $skin-text: #BD616A;

  @import 'componentSassImporter';
}

// export colors for use by jsx. specifically, tnrisDownloadTemplateDownload map
:export {
  lightFill: #7E39F1; lightText: white;
  darkFill: #6E7777; darkText: lightgray;
  earthFill: lightgreen; earthText: white;
  fuegoFill: #D588FF; fuegoText: #FEEF00;
  vaporwaveFill: #D588FF; vaporwaveText: #7D57C3;
  americaFill: red; americaText: blue;
  hulkFill: #10B100; hulkText: #053600;
  relaxFill: #BD616A; relaxText: #87BFCF;
        }
