/*
styles for component: TnrisDownloadTemplateImages
*/

.tnris-download-template-images {
  // margin-bottom: 5px;

  .desktop-lg {
    padding: 64px 0px 0px 0px;
    overflow-y: hidden;

    img {
      max-width: 100%;
      max-height: 615px;
    }
  }

  .mobile {
    display: none;
  }

  @media (max-width: 1350px) {
    .mobile {
      display: block;
      // background-color: #d9d9d9;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }
    // hr {
    //   background-color: #fff;
	  //   border-top: 2px dashed #8c8b8b;
    // }
    .desktop-lg {
      display: none;
    }

  }
}
