/*
styles for component: TnrisDownloadTemplateDetails
*/

.tnris-download-template-details {
  padding: 84px 20px 20px 20px;

  .mdc-image-list__item {
    border: 1px solid lightgray;
    // border-radius: 24px 4px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    .mdc-typography--headline5 {
      // text-shadow: 1px 1px lightgray;
      text-align: center;
      color: #d2f1ff;
      background-color: #272727;
    }

    p {
      padding: 6px;
      margin: 0;
    }

    .mdc-list {
      padding: 6px;

      .mdc-list-item {
        min-height: 34px;
        height: initial;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        strong {
          margin-right: 4px;
        }
      }
    }

    .mdc-list.supplemental-downloads {
      .mdc-list-item {
        a {
          i {
            vertical-align: text-bottom;
          }

        }
      }
    }

    .services-link-details {
      padding: 6px;

      #service-link-details-input {
        color: rgb(98, 0, 238);
        border-bottom-color: rgba(0, 0, 0, 0.12);
        margin-bottom: 10px;
      }

      .service-link-details-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        button, a {
          margin-left: 5px;
          margin-right: 5px;
          text-align: center;

          i {
            margin-right: 5px;
          }
        }
      }
    }

    #contact-header {
      cursor: pointer;
      text-align: initial;
      padding-left: 10px;
      padding-right: 10px;

      &:hover {
        background-color: #484848;
      }

      i {
        vertical-align: middle;
        color: #d2f1ff;
        line-height: 36px;
        float: right;
      }
    }
  }

  @include mdc-image-list-masonry-columns(2);

  @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
    @include mdc-image-list-masonry-columns(1);
  }

}
