/*
styles for component: TnrisDownloadTemplateImages
*/

.tnris-download-template-images {
  // margin-bottom: 5px;

  .desktop-lg {
    padding: 0 20px 20px 20px;
    overflow-y: hidden;

    img {
      max-width: 100%;
      max-height: 615px;
    }
  }

  .mobile {
    display: none;
  }

  @media (max-width: 1350px) {
    .mobile {
      max-width: 100%;
      height: auto;
      display: block;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }
    .desktop-lg {
      display: none;
    }

  }
}
