/*
styles for component: TnrisOrderTemplate
*/

.tnris-order-template {
  header {
    // @include mdc-top-app-bar-ink-color($text-color);
    @include mdc-top-app-bar-icon-ink-color($text-color);
    @include mdc-top-app-bar-fill-color($header-bar);
    // border-bottom: solid 1px $skin-tertiary;
    z-index: 3;
    position: relative;
  }

  button {
    margin-left: 15px;
    margin-right: 15px;
  }

  height: 100%;
  overflow-y: auto;
  background-color: $main-background;

  &:focus {
    outline: none;
  }

  .mdc-top-app-bar__title {
    font-size: 1.7rem;
  }

  section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end {
    width: auto;

    div.mdc-tab-bar {
      .mdc-tab {
        max-width: 86px;
        span {
          color: $skin-secondary;
        }
      }
      .mdc-tab--active {
        .mdc-tab__content {
          color: $skin-primary;
        }
        .mdc-tab-indicator__content--underline {
          background-color: $skin-primary;
        }
      }
    }

    div.mdc-menu-surface--anchor {
      .mdc-list {
        @include mdc-menu-surface-fill-color($primary-color);
        @include mdc-list-item-primary-text-ink-color($text-color);

        i {
          margin-right: 6px;
        }
      }
    }

    @media (max-width: mdc-layout-grid-breakpoint-max(tablet)) {
      .mdc-tab-bar {
        display: none;
      }

      .mdc-menu-surface--anchor {
        display: flex;

        i {
          color: $skin-secondary;
        }
      }
    }

    @media (min-width: mdc-layout-grid-breakpoint-max(tablet)) {
      .mdc-tab-bar {
        display: block;
      }

      .mdc-menu-surface--anchor {
        display: none;
      }
    }

  }

}
