/*
styles for component: TnrisDownloadTemplateDownload
*/

.tnris-download-template-download {
  padding: 64px 0 0 0;

  #tnris-download-menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 74px;
    right: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);

    .mdc-list-item {
      margin: 3px 6px 3px 6px;
      height: initial;
      display: block;
      text-align: center;
    }
  }

  #tnris-download-map {
    position: absolute;
    top: 64px;
    bottom: 0;
    width: 100%;

    .mapboxgl-canvas {
      height: 100%;
    }

    .mapboxgl-popup {
        max-width: 400px;

        .mapboxgl-popup-content {
          ul {
            list-style: none;
            padding-inline-start: 0;
          }
        }
    }
  }

  .tnris-download-template-download__loading {
    overflow: hidden;

    .holodeck-loading-image {
      width: 100%;
    }
  }

}
