/*
styles for component: TnrisDownloadTemplateDetails
*/

.tnris-download-template-details {
  padding: 84px 20px 20px 20px;
  overflow-x: hidden;
  overflow-y: auto;

  .template-content-div {
    margin-bottom: 15px;
    background-color: $nest-background;
    color: $nest-text;

    .carousel {

      .control-next.control-arrow:before {
        border-left: 20px solid #fff;
      }

      .control-prev.control-arrow:before {
        border-right: 20px solid #fff;
      }

      .control-arrow:before {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }

      .control-arrow.control-next {
        margin-right: 0;
      }

      .control-arrow.control-prev {
        margin-left: 0;
      }

      .control-arrow {
        opacity: 0.8;
      }

      p.carousel-status {
        font-size: 16px;
        font-weight: bold;
        text-shadow: 2px 2px #333;
      }
    }

    // max size for div around image carousel window
    .max-img-size {
      max-height: 400px;
      // max-width: 1000px;
    }

    a {
      color: $primary-color;
    }

    p {
      padding: 6px;
      margin: 0;
      white-space: pre-line;
    }

    // idea to put a material icon before listed services instead of normal bullet???
    // ul::before {
    //   content: "code";
    //   margin-left: -10px;
    //   margin-right: 5px;
    // }

    .mdc-list {
      padding: 6px;

      .mdc-list-item {
        min-height: 34px;
        height: initial;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: $nest-text;

        .mdc-list-item__text {
          .mdc-list-item__primary-text::before {
            height: 20px;
          }
          .mdc-list-item__secondary-text::after {
            display: inline-block;
            width: 0;
            height: 20px;
            content: "";
            vertical-align: -7px;
          }
          .metadata-wraptext-list-item {
            white-space: normal;
          }
        }

        strong {
          margin-right: 4px;
        }
      }
    }

    .mdc-list.supplemental-downloads {
      .mdc-list-item {
        a {
          i {
            vertical-align: text-bottom;
          }
        }
      }
    }

    .services-link-details {
      padding: 6px;

      #service-link-details-input {
        color: $primary-color;
        border-bottom-color: rgba(0, 0, 0, 0.12);
        margin-bottom: 10px;
      }

      .service-link-details-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        button, a {
          margin-left: 5px;
          margin-right: 5px;
          text-align: center;
          background-color: $primary-color;
          color: $text-color;

          i {
            margin-right: 5px;
          }
        }
      }
    }

    .share-bar {
      width: 100%;
      display: flex;
      justify-content: center;

      .share-button {
        margin: 6px;
        cursor: pointer;
      }

      .share-copy-link {
        background-color: #7E7E7E;
        color: white;
        border-radius: 15px;
        height: 26px;
        width: 26px;
        text-align: center;
        border: none;
        padding-left: 4px;

        i {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }

  }
}
