/*
styles for component: TnrisDownloadTemplateDownload
*/

.tnris-download-template-download {
  height: -webkit-fill-available;

  #tnris-download-menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 164px;
    right: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);

    .mdc-list-item {
      margin: 3px 6px 3px 6px;
      height: initial;
      display: block;
      text-align: center;
    }

    .mdc-list-item.mdc-list-item--activated {
      background-color: $secondary-color;
      color: $text-color;
    }
  }

  #tnris-download-map {
    position: absolute;
    top: 154px;
    bottom: 0;
    width: 100%;

    @media (min-width: 600px) and (max-width: 1080px) {
      top: 128px;
    }

    @media (max-width: 599px) {
      top: 112px;
    }

    .mapboxgl-canvas {
      height: 100%;
    }

    .mapboxgl-popup {
        max-width: 400px;

        .mapboxgl-popup-content {
          ul {
            list-style: none;
            padding-inline-start: 0;
          }
        }
    }
  }

  .tnris-download-template-download__loading {
    overflow: hidden;

    .holodeck-loading-image {
      width: 100%;
    }
  }

  .tnris-download-template-download__none {
    color: white;
    padding: 35px;
  }

}
