/*
styles for component: TnrisDownloadTemplateDetails
*/

.tnris-download-template-details {
  padding: 84px 20px 20px 20px;
  overflow-x: hidden;
  overflow-y: auto;

  .template-content-div {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 15px;
    background-color: $nest-background;
    color: $nest-text;

    .template-content-div-header {
      color: $template-dialog-header-script;
      background-color: $template-dialog-header;
      text-align: center;
    }

    .carousel {

      .control-next.control-arrow:before {
        border-left: 20px solid #fff;
      }

      .control-prev.control-arrow:before {
        border-right: 20px solid #fff;
      }

      .control-arrow:before {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }

      p.carousel-status {
        font-size: 16px;
        font-weight: bold;
        text-shadow: 2px 2px #333;
      }
    }

    a {
      color: $primary-color;
    }

    p {
      padding: 6px;
      margin: 0;
      white-space: pre-line;
    }

    // idea to put a material icon before listed services instead of normal bullet???
    // ul::before {
    //   content: "code";
    //   margin-left: -10px;
    //   margin-right: 5px;
    // }

    .mdc-list {
      padding: 6px;

      .mdc-list-item {
        min-height: 34px;
        height: initial;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: $nest-text;

        strong {
          margin-right: 4px;
        }
      }
    }

    .mdc-list.supplemental-downloads {
      .mdc-list-item {
        a {
          i {
            vertical-align: text-bottom;
          }

        }
      }
    }

    .services-link-details {
      padding: 6px;

      #service-link-details-input {
        color: $primary-color;
        border-bottom-color: rgba(0, 0, 0, 0.12);
        margin-bottom: 10px;
      }

      .service-link-details-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        button, a {
          margin-left: 5px;
          margin-right: 5px;
          text-align: center;
          background-color: $primary-color;
          color: $text-color;

          i {
            margin-right: 5px;
          }
        }
      }
    }

    .share-bar {
      width: 100%;
      display: flex;
      justify-content: center;

      .share-button {
        margin: 6px;
        cursor: pointer;
      }

      .share-copy-link {
        background-color: #7E7E7E;
        color: white;
        border-radius: 15px;
        height: 26px;
        width: 26px;
        text-align: center;

        i {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }

  }
}
