/*
styles for component: TnrisDownloadTemplateDownload
*/

.tnris-download-template-download {
  height: 80vh;

  button {
    margin: 0;
  }

  #tnris-download-menu {
    background: $main-background;
    color: $nest-text;
    position: absolute;
    z-index: 1;
    top: 164px;
    right: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);

    .mdc-list-item {
      margin: 3px 6px 3px 6px;
      height: initial;
      display: block;
      text-align: center;
    }

    .mdc-list-item.mdc-list-item--activated {
      background-color: $nest-text;
      color: $main-background;
    }
  }

  #tnris-download-map {
    position: absolute;
    top: 154px;
    bottom: 375px;
    width: 100%;

    @media (min-width: 600px) and (max-width: 1080px) {
      top: 128px;
    }

    @media (max-width: 599px) {
      top: 112px;
    }

    .mapboxgl-canvas {
      height: 100% !important;
    }

    .mapboxgl-popup {
        max-width: 400px;

        .mapboxgl-popup-content {
          ul {
            list-style: none;
            padding-inline-start: 0;
          }
        }
    }
  }

  #tnris-download-note {
    background: $main-background;
    color: $nest-text;
    position: absolute;
    z-index: 2;
    bottom: 380px;
    left: 5px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);
    padding: 3px;
    line-height: 12px;

    i {
      font-size: 16px;
    }

    p {
      margin: 0;
      line-height: 20px;
    }
  }

  .tnris-download-template-download__loading {
    overflow: hidden;

    .holodeck-loading-image {
      width: 100%;
    }
  }

  .tnris-download-template-download__none {
    background: $main-background;
    color: $error-text;
    padding: 35px;
  }

}
