/*
styles for component: TnrisDownloadTemplate
*/

.tnris-download-template {
  height: 100%;
  overflow-y: auto;

  &:focus {
    outline: none;
  }

  .collection-dialog__image {
    max-width: 100%;
  }

}
