/*
styles for component: TnrisDownloadTemplate
*/

.tnris-download-template {
  header {
    @include mdc-top-app-bar-ink-color($text-color);
    @include mdc-top-app-bar-icon-ink-color($text-color);
    @include mdc-top-app-bar-fill-color($primary-color);
    // border-bottom: solid 1px $skin-secondary;
    background-color: white;
    color: #444;
  }

  button {
    margin-left: 25px;
    margin-right: 25px;
  }

  height: 100%;
  overflow-y: auto;
  background-color: $main-background;

  &:focus {
    outline: none;
  }

  section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end {
    width: auto;

    div.mdc-tab-bar {
      .mdc-tab {
        max-width: 86px;
        span {
          // color: $text-color;
          color: gray;
        }
        // .mdc-tab-indicator--active {
        //   .mdc-tab-indicator__content--underline {
        //     // background-color: $text-color;
        //     background-color: gray;
        //   }
        // }
      }
      .mdc-tab--active {
        .mdc-tab__content {
          color: #444;
        }
        .mdc-tab-indicator__content--underline {
          background-color: #444;
        }
      }
    }

    div.mdc-menu-surface--anchor {
      .mdc-list {
        @include mdc-menu-surface-fill-color($primary-color);
        @include mdc-list-item-primary-text-ink-color($text-color);

        i {
          margin-right: 6px;
        }
      }
    }

    @media (max-width: mdc-layout-grid-breakpoint-max(tablet)) {
      .mdc-tab-bar {
        display: none;
      }

      .mdc-menu-surface--anchor {
        display: flex;
      }
    }

    @media (min-width: mdc-layout-grid-breakpoint-max(tablet)) {
      .mdc-tab-bar {
        display: block;
      }

      .mdc-menu-surface--anchor {
        display: none;
      }
    }

  }

}

.tnris-download-template.dark-theme {
  background-color: #121515;
}
