/*
styles for component: ToolDrawer
*/

.tool-drawer-component {

  .mdc-drawer {
    @include mdc-drawer-surface-fill-color($main-background);
    @include mdc-drawer-divider-color($empty-border);


    .mdc-drawer__content {

      .no-scroll {
        position: fixed;
      }

      .scroll {
        max-height: 85.7vh;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 110px;
        padding-bottom: 20px;
        padding-top: 10px;
      }

      .mdc-drawer__header {
        width: 255px;
        z-index: 999;
        padding: 0 0 0 0;
        background: $header-bar;
        border-bottom: solid 1px $skin-secondary;
      }

      .dataset-counter {
        background: $skin-tertiary;
        color: $skin-text;
        text-align: center;
        height: 26px;
        line-height: 26px;

        @media only screen and (max-width: 1306px) {
          height: 44px;
          line-height: 44px;
        }

        .dataset-counter-count {
          font-weight: bold;
        }
      }

      .mdc-list-group__subheader {
        font-size: 1rem;
        color: $nest-text-subtle;
      }

      ul {
        padding-left: 0;
      }

      hr {
        clear: left;
      }

      .clear-all-filters-container {
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        justify-content: center;

        .mdc-button--raised:not(:disabled),
        .mdc-button--unelevated:not(:disabled) {
          background-color: $primary-color;
          color: $text-color;
        }
      }
    }
  }
}
