/*
styles for component: ToolDrawer
*/

.tool-drawer-component {

  .mdc-drawer {

    .mdc-drawer__content {
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 30px;

      .dataset-counter {
        background: lightgray;
        color: #8443F1;
        text-align: center;
        height: 26px;
        line-height: 26px;

        @media only screen and (max-width: 1306px) {
          height: 44px;
          line-height: 44px;
        }

        .dataset-counter-count {
          font-weight: bold;
        }
      }

      .mdc-list-group__subheader {
        font-size: 1rem;
      }

      ul {
        padding-left: 0;
      }

      hr {
        clear: left;
      }

      .clear-all-filters-container {
        padding-top: 8px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
