/*
styles for component: ToolDrawer
*/

.tool-drawer-component {

  .mdc-drawer {

    .mdc-drawer__content {

      .mdc-list-group__subheader {
        font-size: 1rem;
      }

      ul {
        padding-left: 0;
      }

      hr {
        clear: left;
      }
    }
  }
}
