/*
store all scss files in sass folder and import them here to have them
available to the app
*/

@import '@material/typography/mdc-typography';
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/layout-grid/mdc-layout-grid";
@import '@material/dialog/mdc-dialog';

@import '@material/layout-grid/variables';
@import '@material/layout-grid/mixins';

@import 'catalog';
@import 'catalogCard';
@import 'collectionDialog';
@import 'footer';
@import 'header';
@import 'historicalAerialTemplate';
@import 'map';
@import 'mapDialog';
@import 'notfound';
@import 'outsideEntityTemplate';
@import 'sort';
@import 'tnrisDownloadTemplate';
@import 'tnrisOrderTemplate';
