/*
store all scss files in sass folder and import them here to have them
available to the app
*/

@import '@material/typography/mdc-typography';

@import 'header';
@import 'catalog';
@import 'catalog-card';
@import 'footer';
@import 'dialog';
