/*
store all scss files in sass folder and import them here to have them
available to the app
*/

@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import '@material/dialog/mdc-dialog';
@import "@material/drawer/mdc-drawer";
@import "@material/layout-grid/mdc-layout-grid";
@import '@material/layout-grid/mixins';
@import '@material/layout-grid/variables';
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
@import '@material/typography/mdc-typography';


@import 'catalog';
@import 'catalogCard';
@import 'collectionDialog';
@import 'collectionFilter';
@import 'footer';
@import 'header';
@import 'historicalAerialTemplate';
@import 'map';
@import 'mapDialog';
@import 'notfound';
@import 'outsideEntityTemplate';
@import 'sort';
@import 'tnrisDownloadTemplate';
@import 'tnrisOrderTemplate';

body {
  margin: 0;
}
