{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TNRIS Data Holodeck</title>
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <!-- load the google typeface -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- load the google material icons font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Include Carto -->
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.core.js"></script>
    <!-- Include Mapbox GL CSS -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />

  </head>
  <body class='mdc-typography'>
    <div id="root">
    </div>
      {% render_bundle 'main' %}
  </body>
</html>
