<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>

<canvas id="chart" width="500" height="500"></canvas>

<script>
    const ctx = document.getElementById("chart");

    new Chart(ctx, {
        type: "bar",
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [
                {
                    label: "# of Votes",
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1,
                },
            ],
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
            },
        },
    });
</script>

<p>Total Downloads</p>
<p>{{total_downloads}}</p>
<p>Successful Data Downloads</p>
<p>{{total_success_data}}</p>
<p>Successful Map Downloads</p>
<p>{{total_success_map}}</p>
<p>-----------------------</p>
<p>top 10 successfully downloaded files</p>
{% for item in top_files %}
<p>{{item.0}} {{item.1}}</p>
{% endfor %}
<p>-----------------------</p>
<p>
    top 10 successfully downloaded data collections (historic imagery included)
</p>
{% for item in top_cbc %}
<p>{{item.0}} {{item.1}}</p>
{% endfor %}
<p>-----------------------</p>
<p>top 10 successfully downloaded historic imagery data collections</p>
{% for item in top_cbh %}
<p>{{item.0}} {{item.1}}</p>
{% endfor %}
<p>-----------------------</p>
<p>top 10 successfully downloaded maps</p>
{% for item in top_cbm %}
<p>{{item.0}} {{item.1}}</p>
{% endfor %}
<p>-----------------------</p>
<p>total successfully downloaded count by resource_type</p>
{% for item in top_cbrt %}
<p>{{item.0}} {{item.1}}</p>
{% endfor %}
<p>-----------------------</p>
<p>
    {{no_downloads_num}} of {{total_downloadable}} downloadable collections had
    zero download attempts (historic imagery NOT included)
</p>
{% for item in no_downloads %}
<p>{{item}}</p>
{% endfor %}
<form action="/analytics/get_monthly_stats/" method="GET">
    <p>
        Start date
        <input
            type="date"
            name="start_date"
            value="{{ request.GET.start_date }}"
        />
    </p>
    <p>
        End date
        <input type="date" name="end_date" value="{{ request.GET.end_date }}" />
    </p>
    <p><input type="submit" value="Submit" /></p>
</form>
